<script type="text/javascript">
  Event.observe(window, 'load', function(){
      if(<%= not issue.redirect_to.nil? %>){
      <%= redirect_url = issue.redirect_to 
          issue.redirect_to = nil
          issue.save %>
          window.location= '<%= redirect_url %>';
      }
  });
</script>
